<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Chat</title>
    <meta userName="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <br><br>
    <div class="row">
        <div class="col">
            <h4>
                <span th:text="${message}"></span>
            </h4>
            <form action="/chatroom" method="post">
                <div class="form-group">

                    <label for="name">Enter username:</label><br>
                    <input class="form control" id="name" required type="text" name="text"><br><br>
                    <button class="btn btn-primary" type="submit">Enter chatroom</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>